{% extends 'base.html.twig' %}

{% block title%} Contact {% endblock %}

{% block body %}
<h1>Contact</h1>
  {% if contacts %}
    <table class="table table-striped" >
      <thead>
        <tr>
         <th>adresse</th>
         <th>telephone</th>
         <th>Email</th>
         <th>update</th>
        <th>delete</th>
        </tr>
      </thead>
      <tbody>
        {%  for contact in contacts %}
          <tr>
            <td>{{ contact.adresse }}</td>
            <td>{{ contact.telephone }}</td>
            <td>{{ contact.mail }}</td>
             <td><a href="/contact/edit/{{ contact.id }}" class="btn btn-secondary" data-id="{{ contact.id }}">update</a></td>
            <td><a href="/contact/delete/{{ contact.id }}" class="btn btn-danger delete-article" data-id="{{ contact.id }}">delete</a></td>
           
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <td><a href="/contact/new" class="btn btn-danger delete-article">new</a></td>
  {% else %}
    <p>Pas de contact</p>
    <td><a href="/contact/new" class="btn btn-primary mt-3">new</a></td>
  {% endif %}



{% endblock %}